return {
  animations = true,
  battleBg = "white",
  battleFit = "fixed",
  battleHud = "standard",
  battleLayout = "og",
  battleStyle = "shift",
  cartMods = {},
  cartOptions = {},
  cartOptionsSeeded = {},
  colors = "gbc",
  dateFormat = "device",
  faithfulRes = 0,
  fpsCap = 60,
  haptics = "light",
  hotbar = true,
  logicClock = "60",
  modIndexCache = {},
  modIndexes = {},
  modOrder = {},
  modProfiles = {},
  modProfilesSeeded = false,
  modUpdateCache = {},
  mods = {},
  modsByVersion = {},
  modsByVersionMigrated = false,
  modsGen2 = {},
  musicFilter = 0,
  musicVol = 7,
  performance = "auto",
  pikaVol = 7,
  pipelines = {},
  ruleset = "gen1_faithful",
  safeMode = false,
  saveSync = {
    enabled = false,
    lastSyncAt = 0,
    pendingConflicts = {},
    revs = {},
    stamps = {},
  },
  screenPos = "center",
  sfxVol = 7,
  speedBattle = 1,
  speedMenu = 1,
  speedOverworld = 1,
  textSpeed = 3,
  tilt = 0,
  timeFormat = "device",
  touchControls = {
    enabled = true,
  },
  uiLayout = "centered",
  uiLetterbox = "auto",
  videoMode = "windowed",
  voidFill = "trees",
  zoom = 0,
}
