[video]
mode=0
size=0
vsync=1
drop_shadows=1
scaling=0
visuals=0
hud_size=0
frame_limit=0
window_size=[256, 240]

[audio]
master=10
music=10
sfx=10
athletic_bgm=1
extra_bgm=1
skid_sfx=1
extra_sfx=0
pause_bgm=1
menu_bgm=0

[game]
campaign="SMB1"
lang="en"

[keyboard]
jump="Z"
run="X"
action="X"
move_left="Left"
move_right="Right"
move_up="Up"
move_down="Down"
ui_accept="Z"
ui_back="X"
pause="Escape"

[controller]
jump=[0, 1]
run=[2, 3]
action=[2, 3]
move_left="0,-1"
move_right="0,1"
move_up="1,-1"
move_down="1,1"
ui_accept=0
ui_back=1
pause=6

[visuals]
parallax_style=2
modern_hud=0
rainbow_style=0
extra_bgs=1
bg_particles=1
transform_style=0
athletic_bgm=1
skid_sfx=1
text_shadows=1
bridge_animation=0
visible_timers=0
transition_animation=0
smbs_scroll=0
colour_pipes=1
firebar_style=0
extra_particles=0

[difficulty]
damage_style=1
checkpoint_style=0
inf_lives=0
flagpole_lives=0
game_over_behaviour=0
level_design=0
extra_checkpoints=0
back_scroll=0
time_limit=1
lakitu_style=0
